# TODO Setup env correctly first 3 are not working rn
MODEL_CONTEXT_SIZE=
MODEL_SERVER_PORT=
MIDDLEWARE_PORT=

# Observability
NEXTAUTH_SECRET=

CLICKHOUSE_DB=default
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=

# GPU collector
GPU_APPLICATION_NAME=
GPU_ENVIRONMENT=local
